#box1 {
    border-radius: 40px 0 0 0;
}

#box2 {
    border-radius: 0 40px 0 0;
}

#box3 {
    border-radius: 0 0 40px 0;
}

#box4 {
    border-radius: 0 0 0 40px;
}

#box5 {
    border-radius: 40px 0;
}

#box6 {
    border-radius: 0 40px;
}

#box7 {
    border-radius:  40px;
}

#box8 {
    border-radius: 30%;
}

