<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>HTML5 Layout Exercise</title>
</head>
<body>
    <header style="background-color: cyan; line-height: 40px;">
        <div style="display: inline-block; width: 80%; ">
            <h1 style="display:inline; margin: 0 auto 0 45%;">HTML5 Layout Example</h1>
        </div>
        <nav>
            <span><a id="home" href="#">Home</a></span>
            <span><a id="home" href="#">Home</a></span>
            <span><a id="home" href="#">Home</a></span>
        </nav>
    </header>
    <main>
        <h1>Lorep Ipsum</h1>
        <article>
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
            et quasi architecto beatae vitae dicta sunt explicabo. 
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam 
            aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam 
            corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel 
            eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
            vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
        </article>
    </main>
    <footer>
        Copyright &copy 2022 Lorep Ipsum
    </footer>
</body>
</html>