html {
    scroll-behavior: smooth;
}

header {
    height: 13rem;
    margin: -1rem -1rem 1.5rem -1rem;
    background-color: rgb(4, 20, 43); 
    color: white;
    text-align: center; 
}

main {
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: space-between;
}

footer {
    height: 5rem;   
    margin: 0 -1rem -1rem -1rem;
    text-align: center; 
    background-color: rgb(4, 20, 43); 
    color: white;
}

details {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

th, td {
    border: 1px black solid;
}

td {
    padding-left: 10px;
}

#header-nav {
    width: 100%;
    background-color: green;
}

#header-nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    margin-top: 3rem;
}

#sidebar-nav {
    width: 20%; 
    height: 350px;
    border: 2px rgb(4, 20, 43) solid
 }

#sidebar-nav-list {
    font-size: 1.3rem;
    line-height: 4rem;
}

 #content-section {
    width: 78%;
    border: 2px rgb(4, 20, 43) solid;
    border-bottom: none;
    padding: 20px 20px 20px 50px;
    box-sizing: border-box;
}

#my-image {
    display: block;
    width: 200px;
    height: 300px;
    background-color:  gray;
    margin: 20px auto
}

#biodata span {
    width: 20%;
    display: inline-block;
}

#biodata p {
    display: inline-block;
    width: 80%
}

#another-page {
    margin-bottom: 2rem;
}

.fa {
    display: inline-block;
    margin: 1rem 0 0 2rem;
    width: 4%;
}

.nav-item {
    margin: 5px;
    width: 10rem;
    text-align: center;
}

.item-content {
    margin: auto 2rem 3rem auto; 
}

